---
import Blog from "../../layouts/Blog.astro";
import Card from "../../components/Card.astro";
---

<Blog title="Matthew Carey | Front End Developer">
	<Fragment slot="title">Latest Articles</Fragment>
	<ol class="grid grid-column-350">
		<li>
			<Card tagname="article" boxShadowColor="dual">
				<h3>Telling A Story With Reports</h3>
				<p>
					Marketing campaigns with Google and Facebook come with a
					large footprint of data. There are many types of metrics
					that go into a performance report, such as spend, clicks,
					impressions, reach, and a whole suite of site and ad
					conversions. It is a challenging problem to solve both
					technically and visually.
				</p>
				<a href="/chinwag-blog/telling-a-story-with-reports">
					Read More
				</a>
			</Card>
		</li>
		<li>
			<Card tagname="article" boxShadowColor="dual">
				<h3>Telling A Story With Reports</h3>
				<p>
					Marketing campaigns with Google and Facebook come with a
					large footprint of data. There are many types of metrics
					that go into a performance report, such as spend, clicks,
					impressions, reach, and a whole suite of site and ad
					conversions. It is a challenging problem to solve both
					technically and visually.
				</p>
				<a href="/chinwag-blog/telling-a-story-with-reports">
					Read More
				</a>
			</Card>
		</li>
		<li>
			<Card tagname="article" boxShadowColor="dual">
				<h3>Telling A Story With Reports</h3>
				<p>
					Marketing campaigns with Google and Facebook come with a
					large footprint of data. There are many types of metrics
					that go into a performance report, such as spend, clicks,
					impressions, reach, and a whole suite of site and ad
					conversions. It is a challenging problem to solve both
					technically and visually.
				</p>
				<a href="/chinwag-blog/telling-a-story-with-reports">
					Read More
				</a>
			</Card>
		</li>
	</ol>
</Blog>
<style is:global>
	@import "./../../styles/core.css";
	ol {
		list-style: none;
		padding-left: 0;
	}
</style>
