:root {
	overflow-x: hidden;
	color: var(--grey);
	background-color: var(--warm-white);
	scroll-behavior: smooth;
}

div,
section,
main,
body,
aside,
header {
	position: relative;
	box-sizing: border-box;
}

body {
	margin: 0;
	contain: paint;
}

nav {
	margin-bottom: calc(-1 * (var(--dynamic-spacing) + 5));
}

a {
	padding: calc(1rem / 2);
	display: inline-block;
}


h1,
h2:not(.sub-title),
h3,
h4,
h5,
h6,
p,
small,
em,
ol,
sup,
ul {
	font-family: "Nunito Sans", Arial,
		Helvetica, sans-serif;

}

p,
span {
	font-size: inherit;
}

ul,
p:first-of-type,
h3:first-of-type,
h4:first-of-type {
	margin-top: 0;
}


img,
video {
	width: 100%;
	height: auto;
}