$brightBlue : #4AEEE6;
$brightRed :#eb6974; //#EB858D;
$brightRedAlpha :rgba(235, 105, 116, .5);
$white : #FFFFFF;
$lightGrey: #afafaf;
$mediumGrey:#6c6c6c;
$darkGrey: #4d4d4d;
$displayFont : "league spartan", sans-serif;
$secondaryBigFont : "ostrich sans inline" , sans-serif;
$secondarySmallFont : "ostrich sans", sans-serif ;
$paraFont : "arial" , sans-serif;