<footer class="full">
	<p>
		<small
			>Copyright Matthew Carey 2024 || WebFronts<sup>&reg;</sup>, AdRocket<sup
				>&trade;</sup
			> are owned by Retailer Web Services LLC. All logos and materials not
			explicitly said to be created by Matthew Carey are owned by their respective
			companies.
		</small>
	</p>
</footer>
