---
const { seoInfo } = Astro.props;
import HeadTags from "../components/HeadTags.astro";
import SEOMetaTags from "../components/SEOMetaTags.astro";
import Splash from "../components/Splash.astro";
import Footer from "../components/Footer.astro";

import Nav from "../components/SiteNav.astro";
import { getImage } from "astro:assets";

import headshot from "../assets/images/headshot.png";

const HeadshotLg = await getImage({
	src: headshot,
	width: 824,
	format: "webp",
});
const HeadshotMd = await getImage({
	src: headshot,
	width: 650,
	format: "webp",
});
const HeadshotSM = await getImage({
	src: headshot,
	width: 375,
	format: "webp",
});
---

<!doctype html>
<html lang="en">
	<head>
		<HeadTags />
		<SEOMetaTags {...seoInfo} />
	</head>
	<body class="grid-page">
		<Splash classList="blog">
			<picture class="headshot">
				<source
					type="image/webp"
					srcset={HeadshotSM.src}
					media="(max-width: 425px)"
					height="533"
					width="375"
				/>
				<source
					type="image/webp"
					srcset={HeadshotMd.src}
					media="(max-width: 1200px)"
					height="924"
					width="650"
				/>
				<img src={HeadshotLg.src} alt="" height="1174" width="824" />
			</picture>

			<h1 class="blog-name">
				<span>
					<span class="mobile-white-inline">A Bit Of A</span>
					<span class="mobile-white-inline">Chinwag</span>
				</span>
			</h1>
			<div class="blog-title-container">
				<h2 class="blog-title">
					<slot name="icon" />
					<span>
						<slot name="title" />
					</span>
				</h2>
				<p class="published-date"><slot name="published-date" /></p>
			</div>

			<div id="rectSolid"></div>
		</Splash>
		<Nav class:list={[" full"]} />
		<main class="full grid-page">
			<slot />
		</main>
		<Footer />
	</body>
</html>
