---
const { seoInfo } = Astro.props;
import HeadTags from "../components/HeadTags.astro";
import SEOMetaTags from "../components/SEOMetaTags.astro";
import Splash from "../components/Splash.astro";
import Nav from "../components/SiteNav.astro";
import Footer from "../components/Footer.astro";
import { getImage } from "astro:assets";

import headshot from "../assets/images/headshot.png";

const HeadshotLg = await getImage({
	src: headshot,
	width: 824,
	format: "webp",
});
const HeadshotMd = await getImage({
	src: headshot,
	width: 650,
	format: "webp",
});
const HeadshotSM = await getImage({
	src: headshot,
	width: 375,
	format: "webp",
});
---

<!doctype html>
<html lang="en">
	<head>
		<HeadTags />
		<SEOMetaTags {...seoInfo} />
		<!-- <script
			type="module"
			src="https://cdn.jsdelivr.net/npm/@friendlycaptcha/sdk@0.1.11/site.min.js"
			async
			defer></script>
		<script
			nomodule
			src="https://cdn.jsdelivr.net/npm/@friendlycaptcha/sdk@0.1.11/site.compat.min.js"
			async
			defer></script> -->
	</head>
	<body class="grid-page">
		<Splash classList="home">
			<picture class="headshot">
				<source
					type="image/webp"
					srcset={HeadshotSM.src}
					media="(max-width: 425px)"
					height="533"
					width="375"
				/>
				<source
					type="image/webp"
					srcset={HeadshotMd.src}
					media="(max-width: 1200px)"
					height="924"
					width="650"
				/>
				<img src={HeadshotLg.src} alt="" height="1174" width="824" />
			</picture>

			<h1 class="home-page-title">
				<span class="mobile-white-inline">Matthew</span>
				<span class="mobile-white-inline">Carey</span>
			</h1>
			<h2 class="sub-title">
				<span class="designer">A Creative<br />Designer</span>
				<span class="ampersand">
					<span class="visually-hidden">and</span>
					<img
						aria-hidden="true"
						src="ampersand.svg"
						alt="ampersand"
						width="23"
						height="25"
					/>
				</span>
				<span class="developer">
					<span class="front-end-title mobile-white-inline">
						Front- End
					</span>
					<span class="mobile-white-inline">Web</span>
					<span class="mobile-white-inline">Developer</span>
				</span>
			</h2>
			<div id="rectSolid"></div>
		</Splash>
		<Nav class:list={[" full"]} />
		<slot />
		<Footer />
	</body>
</html>
